* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.fill-1434CB {
  fill: #1434CB;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.stroke-F79E1B {
  stroke: #F79E1B;
  -webkit-transition: stroke 0.4s ease;
  transition: stroke 0.4s ease;
}

.fill-F79E1B {
  fill: #F79E1B;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.fill-FF5F00 {
  fill: #FF5F00;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.fill-EB001B {
  fill: #EB001B;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.visa-popup-wrapper {
  background: rgba(12, 20, 22, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.visa-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 645px;
  padding: 20px;
  padding-top: 63px;
  background: #FDFDFD;
  border-radius: 3px;
}

.visa-popup__header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.05);
          box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.05);
  height: 43px;
  padding: 0 15px;
}

.visa-popup__title {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.visa-popup__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 22px;
  height: 22px;
  padding: 4px;
}

.visa-popup__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  position: relative;
}

.visa-popup__products-info {
  background: #F6F7F9;
  border-radius: 4px;
  padding: 10px 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visa-popup__product-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.visa-popup__products-quantity {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.visa-popup__product-price {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

.visa-popup__discount-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visa-popup__discount-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.visa-popup__amount-of-discount {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #759417;
}

.visa-popup__total-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visa-popup__total-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.visa-popup__total-sum {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}

.visa-popup__line {
  width: 100%;
  height: 2px;
  background: #DFDCDE;
  margin: 12px 0;
}

.visa-popup__personal-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.visa-popup__input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}

.visa-popup label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #676767;
}

.visa-popup__input {
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #676767;
  padding: 15px;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

.visa-popup__input_error {
  border: 1px solid #FF0000;
}

.visa-popup__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FF0000;
}

.visa-popup__grid-2-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}

.visa-popup__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.visa-popup__apply-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #2876F8;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.visa-popup__apply-btn:hover {
  background: #1A63DB;
}

.visa-popup__pay-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background: #C5E5FE;
  border-radius: 6px;
  margin-top: 22px;
  height: 64px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #2570ED;
  -webkit-transition: background-color 0.4s, color 0.4s ease;
  transition: background-color 0.4s, color 0.4s ease;
}

.visa-popup__pay-btn:hover {
  background: #2570ED;
  color: #FFFFFF;
}

.visa-popup__pay-btn:hover .fill-1434CB {
  fill: #C5E5FE;
}

.visa-popup__pay-btn:hover .stroke-F79E1B {
  stroke: #C5E5FE;
}

.visa-popup__pay-btn:hover .fill-F79E1B {
  fill: #C5E5FE;
}

.visa-popup__pay-btn:hover .fill-FF5F00 {
  fill: #C5E5FE;
}

.visa-popup__pay-btn:hover .fill-EB001B {
  fill: #C5E5FE;
}

@media (max-width: 576px) {
  .visa-popup {
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .visa-popup__adaptive-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visa-popup__grid-2-col {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
