body {
  font-family: 'Montserrat';
}

.discount-timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.discount-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  background: rgba(129, 201, 38, 0.2);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #759417;
  line-height: 18px;
}

.discount-msg__highlighted {
  display: inline;
  font-weight: 600;
}

.discount-msg__icon {
  margin-right: 10px;
  min-height: 24px;
  min-width: 24px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__icon {
  margin-right: 6px;
}

.timer__time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
