*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.container{
    max-width: 1324px;
    margin: 0 auto;
    min-height: 900px;
    background-image: url('img/mixed-colours-abstract-4k-x5-3840x2400 1.png');
    padding-top: 524px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.products-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
    margin: 0 auto;
    transform: translate(0, 25px);
}
.product-ticket{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 286px;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 43px rgba(0, 0, 0, 0.2));
    &__header{
        position: relative;
        height: 44px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__header-icon{
        margin-left: 7px;
        margin-right: 10px;
        transform: translate(0, -10px);
    }
    &__header-bg{
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position-x: right;
        
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        
    }
    &__game-list{

    }

    &__game-link{
        display: flex;
        height: 44px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px;
        transition: background-color 0.4s ease;
        &:not(:last-child){
            border-bottom: 1px solid rgba($color: #E8E8E8, $alpha: .4);
        }
        &:hover{
            background: #F5F5F5;
        }
    }
    &__game-name{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #6C6C6C;
    }
    &__items-quantity{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        color: #6C6C6C;
    }
    &__view-more{
        background: #2570ED;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FAFAFA;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        transition: background-color 0.4s ease;
        &:hover{
            background-color: #1A63DB;
        }
    }
}

.items{
    color: #5F3174;
    .product-ticket__header-bg{
        background-image: url('img/items-bg.png');
    }
    
}
.currency{
    color: #2570ED;
    .product-ticket__header-bg{
        background-image: url('img/currency-bg.png');
    }
}
.coaching{
    color: #F9B944;
    .product-ticket__header-bg{
        background-image: url('img/coaching-bg.png');
    }
}
.accounts{
    color: #16BD3B;
    .product-ticket__header-bg{
        background-image: url('img/accounts-bg.png');
    }
}

@media(max-width: 1250px){
    .products-list{
        max-width: 800px;
    }
}